.navbar-light .navbar-brand {
  background-color: teal;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
body {
  background-image: url(https://files.slack.com/files-pri/T018RA60CNP-F01B1RFE933/ignasi_pattern_s.png);
}

.card {
  margin-left: 30px;
  margin-right: 30px;
  width: auto;
  border-radius: 8px;
  position: relative;
  display: block;
  margin-top: 100px;
  overflow: visib;
}

.portfolio {
  position: absolute;
  top: 20px;
  right: 100px;
  color: black;
}
.contact {
  position: absolute;
  top: 20px;
  right: 180px;
  color: black;
}

.about {
  position: absolute;
  top: 20px;
  right: 40px;
  color: black;
}
