/* change the color of my name in the nav bar */
.navbar-light .navbar-brand {
  background-color: teal;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
/* Used to change the background of the website */
body {
  background-image: url(https://files.slack.com/files-pri/T018RA60CNP-F01B1RFE933/ignasi_pattern_s.png);
}
/* Postioned respostive images*/
.Grad-Pic {
  float: right;
}
/* Postioned respostive images*/
.Picture {
  float: left;
}
/* Used to move the portfolio in nav to the right */
.portfolio {
  position: absolute;
  top: 20px;
  right: 100px;
  color: black;
}

/* Used to move the contact in nav to the right */
.contact {
  position: absolute;
  top: 20px;
  right: 180px;
  color: black;
}

/* Used to move the about in nav to the right */
.about {
  position: absolute;
  top: 20px;
  right: 40px;
  color: black;
}
